# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.egg-info/
dist/
build/
.eggs/
.env/
.venv/
venv/
ENV/
.Python

# -----------------------------
# Environment & Secrets
# -----------------------------
.env
.env.*
*.env
*.env.*
config.yaml

# -----------------------------
# IDEs & Editors
# -----------------------------
.vscode/
.idea/
*.swp

# -----------------------------
# OS & Misc
# -----------------------------
.DS_Store
Thumbs.db
*.bak
*.tmp

# -----------------------------
# Git
# -----------------------------
*.orig
